*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.App {
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  /* height: 100vh; */
}

body{
  background-image: url(https://storage.googleapis.com/subtlepatterns-production/designers/subtlepatterns/uploads/moroccan-flower.png);
}

.sliders h1{
  margin-bottom: 6%;
}
.sliders{
  margin-top: 5vh;
  height:35vh
}

.colorCard{
  display: flex;
  align-items: center;
  justify-content: center;
  height:60vh ;
}